<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- TODO: MUST Change connection string according to your database server -->
    <!--<add name="JustBlogDbConnString" connectionString="Data Source=wpad;Initial Catalog=BlogDB;user id=sa;password=password@123" providerName="System.Data.SqlClient" />-->
    <!-- TODO: MUST Change connection string according to your database server -->
    <!--<add name="BlogDBContext" connectionString="Data Source=WPAD;Initial Catalog=BlogDB;user id=sa;password=password@123" providerName="System.Data.SqlClient" />-->
    <add name="CMS" connectionString="Data Source=.;Initial Catalog=BlogDB;user id=sa;password=password@123" providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>