
@{
//ViewBag.Title = "Login";
}

<h2>Login</h2>



<table class="table table-bordered">
    <thead>
        <tr class="success">
            <th>
                Social Logins
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
                @*@Html.ActionLink("Login with Google", "GoogleAuth", "Auth",new {@class="btn btn-success" })*@
            </td>
        </tr>
    </tbody>
</table>



